<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://dozer.sourceforge.net http://dozer.sourceforge.net/schema/beanmapping.xsd">

	
	<!-- *********************************下面是买方申领创新券的mapping*************************************** -->
	<mapping>
		<class-a>com.trm.model.user.coupon.CouponApplyBean</class-a>
		<class-b>com.trm.entity.business.TrmCompany</class-b>
	</mapping>
	
	<mapping>
		<class-a>com.trm.entity.business.TrmCashInfo</class-a>
		<class-b>com.trm.model.cash.buyer.BuyerCashItem</class-b>
		<field>
			<a>policyCode</a>
			<b>policyType</b>
		</field>
		<field>
			<a>khBankNo</a> <!-- 联行号 -->
			<b>joinBankNo</b>
		</field>
		<field>
			<a>khBank</a> <!-- 收款人开户银行 -->
			<b>bank</b>
		</field>
		<field>
			<a>skrNo</a> <!-- 收款人编号 -->
			<b>khNo</b>
		</field>
	</mapping>
	
	<mapping>
		<class-a>com.trm.entity.business.TrmCashInfo</class-a>
		<class-b>com.trm.model.cash.seller.SellerCashApplyDetail</class-b>
		<field>
			<a>khBankNo</a> <!-- 联行号 -->
			<b>joinBankNo</b>
		</field>
	</mapping>
	
	<!-- 第5条政策 -->
	<mapping>
		<class-a>com.trm.model.cash.buyer.BuyerApplyFive</class-a>
		<class-b>com.trm.entity.business.TrmBuyerCashFive</class-b>
		<field>
			<a>policyType</a>
			<b>policyCode</b>
		</field>
		<field>
			<a>rentAmt</a>
			<b>PRentAmt</b>
		</field>
		<field>
			<a>rentArea</a>
			<b>CRentArea</b>
		</field>
	</mapping>
	
	<!-- 第6条政策 -->
	<mapping>
		<class-a>com.trm.model.cash.buyer.BuyerApplySix</class-a>
		<class-b>com.trm.entity.business.TrmBuyerCashSix</class-b>
		<field>
			<a>policyType</a>
			<b>policyCode</b>
		</field>
	</mapping>
	
	<!-- 第7条政策 -->
	<mapping>
		<class-a>com.trm.model.cash.buyer.BuyerApplySeven</class-a>
		<class-b>com.trm.entity.business.TrmBuyerCashSeven</class-b>
		<field>
			<a>policyType</a>
			<b>policyCode</b>
		</field>
	</mapping>
	
	<!-- 第8条政策 -->
	<mapping>
		<class-a>com.trm.model.cash.buyer.BuyerApplyEight</class-a>
		<class-b>com.trm.entity.business.TrmBuyerCashEight</class-b>
		<field>
			<a>policyType</a>
			<b>policyCode</b>
		</field>
	</mapping>
	
</mappings>  