<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd


		http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

    <import resource="classpath:webservice/spring-cxf-service_client.xml"/>
    <!--技术经理人机构-->
   <!-- <jaxws:client id="wSManorg" name="wSManorg"
                  serviceClass="com.trm.webservice.client.basicbusiness.WSManorgService"
                  address="http://${webservice.address.tms}/trm-trading-tms-server/tradingWS/wSManorg">
        <jaxws:outInterceptors>
            <ref bean="outSoapAuth"/>
        </jaxws:outInterceptors>
    </jaxws:client>-->

</beans>